.wby-upload-files-container {
  .action-btn-wrap {
    display: flex;
  }
}

.main {
  width: 600px;
  height: 350px;
  margin: 100px auto 0 auto;
}

.option-function {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

.btn-return {
  margin: 0 auto;
  display: block;
}

.upload-box {
  display: inline-block;
  margin-left: 8px;
}

.mainbox {
  width: 100%;
  height: auto;
  margin-top: 100px;

  .title1 {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 15px;
  }

  .title2 {
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 12px;
  }

  .actionbox {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 50px;
  }

  .margin-left {
    margin-left: 10px;
  }
}

.filter-form-layout-flex {
  .ant-form-item{
    display: flex;
    .ant-form-item-label{
      flex: none;
    }
    .ant-form-item-control-wrapper{
      flex: auto;
    }
  }
}
