.price-standard-container {
    position: relative;
}

.red-start::after {
    content: '*';
    color: #FF0000;
    font-size: 26px;
    line-height: 13px;
    width: 16px;
    display: flex;
    padding-top: 7px;
    padding-left: 2px;
}

.warning-info {
    color: #FAAD14
}

.mt20-ml20 {
    margin-top: 20px;
    text-align: right;

    &>:last-child {
        margin-left: 20px;
    }
}

.plat-gray-type-no-delete {
    background: #f5f5f5;
    padding: 4px 6px;
    color: #333;
    font-weight: bold;
    margin-top: 4px;
}
