.agent-info {
    .head-title {
        color: #333
    }
    .agent-base-info {
        display: flex;
        height: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .agent-base-info>div {
        min-width: 300px;
    }
}
