.layout-search-box {
    min-height: 36px;
    line-height: 36px;

    .lable {
        font-family: ".PingFang-SC-Medium";
        font-size: 14px;
        color: #333333;
        width: 70px;
        float: left;
    }
}

.query-tool-search-tab {
    background: #FAFAFA;

    .ant-tabs-nav-scroll {
        background: #fff;
    }

    .ant-tabs-content {
        padding-top: 10px;
        padding-left: 10px;
        border: 1px solid #EBEBEB;
    }

    .ant-tabs-bar {
        margin: 0px;
    }

    .ant-tabs-tab {
        background: #fff !important;
    }

    .ant-tabs-tab-active {
        background: #fafafa !important;
    }
}

.search-more {
    background: #fff;

}

.search-more-text {
    height: 26px;
    line-height: 26px;
    width: 126px;
    margin: auto;
    background: #FAFAFA;

    border: 1px solid #EBEBEB;
    border-top: 0px;
    font-size: 13px;
    color: #999999;
    display: flex;

    .text {
        width: 80px;
        margin-left: 16px;
        text-align: center;
    }
}

.history-new-box {
    position: relative;

    .new-box-img {
        position: absolute;
        top: -10px;
        left: 184px;
        z-index: 999;

        img {
            width: 40px;
        }
    }
}

.search-more-icon {
    width: 10px;
    font-size: 10px;
    padding-top: 2px;
}
