.tag-list {
    display: flex;
    margin-top: -16px;
    margin-left: -6px;

    .box-config {
        padding: 5px 10px;
        margin: 10px 6px;
    }

    .item {
        background: rgba(65, 139, 249, 0.1);
        border-radius: 3px;
        color: #333;
        .box-config;
        display: flex;

        .icon-close {
            padding-left: 4px;
        }
    }
}

.add-form-btn {
    text-align: right;
    margin: 20px 0px 6px;

    &>:first-child {
        margin-right: 10px;
    }
}
