.website-information-wrap {
  .filter-wrap {
    margin: 20px 0;

    .filter-input-name {
      width: 200px;
      margin-right: 12px;
    }

    .filter-input-cell-phone {
      margin-right: 12px;
    }
  }
}
