.query-export-tool {
    position: relative;

    .ant-skeleton-paragraph {
        padding-left: 2px;
    }

    .sns-name-font-color-weight {
        font-size: 15px;
        color: #ccc;
        font-weight: bold
    }
}
